@mixin btn() {
  border: none;
  outline: none;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  padding-block: 15px;
  border-radius: 10px;
  line-height: 20px;
}

@mixin btnColor($bg-color, $color-text) {
  background-color: $bg-color;
  color: $color-text;
}
