.users {
  &__header {
    display: flex;
    justify-content: space-between;
  }

  .card_row {
    display: flex;
    justify-content: space-between;

    span {
      width: calc(90% / 6);
    }
  }

  .modal_form {
    position: absolute;
    background-color: red;
    width: 100%;
  }
}
