@use "../../../../styles/variables.scss" as variable;

.users {
  background-color: variable.$clr-white;
  flex: 1;
  border-radius: variable.$radius;
  padding-inline: variable.$padding-content-inline;
  padding-block: variable.$padding-content-block;

  &__header {
    display: flex;
    justify-content: space-between;
  }
}
