@use "../../styles/variables.scss" as variable;

@mixin flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin defaultStyle {
  background-color: variable.$clr-white;
  border-radius: variable.$radius;
}

@mixin title {
  font-weight: variable.$fw-400;
  font-size: 22px;
}

.chart {
  @include defaultStyle();
  @include flex();
  flex-direction: column;
  width: 50%;
  padding: 50px;

  h1 {
    @include title();
  }
}
