@use "../../../../styles/variables.scss" as variable;

.show_passsword {
  position: absolute;
  top: 0;
  right: 16px;
  height: 90%;
  margin-block: 3px;
  display: flex;
  align-items: center;
  cursor: pointer;
  background-color: variable.$clr-white;
  padding-inline: 10px;
}
