@use "../../styles/mixins" as mixin;
@use "../../styles/variables.scss" as variable;

.btn {
  @include mixin.btn;

  &--primary {
    @include mixin.btnColor(variable.$clr-blue, variable.$clr-white);

    &:hover {
      background-color: variable.$clr-hover-blue;
    }
  }

  &--danger {
    @include mixin.btnColor(variable.$clr-danger, variable.$clr-white);

    &:hover {
      background-color: variable.$clr-hover-red;
    }
  }

  &--neutral {
    background-color: transparent;
  }

  &--full {
    width: 100%;
    padding-block: 15px;
  }

  &--custom {
    padding-inline: 25px;
    padding-block: 15px;
  }

  &--default {
    padding: 0;
  }

  &__href {
    padding-block: 15px;
    padding-inline: 25px;

    .link {
      color: variable.$clr-white;
    }
  }
}
