@use "../../styles/mixin/button.mixin.scss" as mixin;
@use "../../styles/variables.scss" as variable;

.text {
  @include mixin.btn();
}

.img {
  border: none;
  background-color: transparent;
  cursor: pointer;
}

.full {
  width: 100%;
}

.custom {
  padding-inline: 25px;
}

.none {
  padding: 0;
}

.danger {
  @include mixin.btnColor(variable.$clr-danger, variable.$clr-white);
}

.danger:hover {
  background-color: variable.$clr-hover-red;
}

.primary {
  @include mixin.btnColor(variable.$clr-blue, variable.$clr-white);
}

.primary:hover {
  background-color: variable.$clr-hover-blue;
}
