@use "../../../../styles/variables.scss" as variable;

.posts {
  background-color: variable.$clr-white;
  border-radius: variable.$radius;
  padding-block: variable.$padding-content-block;
  padding-inline: variable.$padding-content-inline;

  .title-posts {
    display: flex;
    justify-content: space-between;
    margin-bottom: 15px;
  }

  .card-parent {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: auto auto auto;
    gap: 20px;
  }
}
