@use "../../styles/variables.scss" as variable;

.header {
  background-color: variable.$clr-white;
  flex: 1;
  border-radius: variable.$radius;
  padding-inline: variable.$padding-content-inline;
  padding-block: variable.$padding-content-block;

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    button {
      display: flex;
    }
  }
}
