@use "../../../../styles/variables.scss" as variable;

.details {
  background-color: variable.$clr-white;
  border-radius: variable.$radius;
  padding-block: variable.$padding-content-block;
  padding-inline: variable.$padding-content-inline;
}
