@use "../../../../styles/variables.scss" as variable;

.checkbox {
  position: relative;
  margin-bottom: 30px;

  .error {
    position: absolute;
    top: 100%;
    font-size: variable.$fs-14;
    color: variable.$clr-danger;
  }
}
