@use "../../styles/variables.scss" as variable;

.pop-up {
  position: fixed;
  width: 300px;
  padding: 20px;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  border-radius: variable.$radius;
  z-index: 999;
  top: 10px;
}

.fail {
  background-color: variable.$clr-danger;
  color: variable.$clr-white;
}

.succes {
  background-color: variable.$clr-succes;
  color: variable.$clr-white;
}
