@use "./variables.scss" as variable;

.card-parent {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.dashboard {
  display: flex;
  gap: 20px;
  width: 100%;
}

.error {
  position: absolute;
  top: 100%;
  font-size: variable.$fs-14;
  color: variable.$clr-danger;
}
