@use "../../styles/variables.scss" as variable;

.card {
  background-color: variable.$clr-white;
  border-radius: variable.$radius;
  padding: 25px;

  .title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
