@use "../../styles/variables.scss" as variable;

.card {
  background-color: variable.$clr-white;
  border-radius: variable.$radius;
  padding: 25px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);

  .title-edit {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .btn {
      display: flex;
      align-items: center;
      gap: 20px;
    }
  }
}
