@use "../../../../styles/variables.scss" as variable;

.select-container {
  position: relative;
  margin-bottom: 30px;
  cursor: pointer;

  &__select {
    cursor: pointer;
    width: 100%;
    border: none;
    outline: none;
    padding-inline: 16px;
    height: 42px;
    background-color: transparent;
    border: 1px solid #f0f1f7;
    border-radius: 8px;
    color: variable.$clr-black;

    &__option {
      border: none;
      outline: none;
    }
  }
}
