@use "../../../styles/variables.scss" as variable;

.menu-wrapper {
  background-color: variable.$clr-white;
  border-radius: variable.$radius;
  height: 100%;

  &--desktop {
    width: 260px;
    padding-inline: 7px;
  }

  &--mobile {
    width: 80px;
  }

  &__navigation {
    color: variable.$clr-text-primary;
    margin: 0;
  }

  &__items {
    margin-top: 50px;
  }

  &__toggle-nav {
    display: flex;
    justify-content: center;
  }
}
