@use "../../../styles/variables.scss" as variable;

.desktop {
  width: 260px;
  padding-inline: 7px;
}

.mobile {
  width: 80px;
}

.mobile-nav {
  justify-content: center;
}

.desktop-nav {
  padding-left: 27px;
}

.mobile-root {
  justify-content: center;
}

.menu {
  background-color: variable.$clr-white;
  border-radius: variable.$radius;
  height: calc(100vh - 25px);

  .logo {
    padding-block: 38px 42px;
    text-align: center;
  }

  .root {
    a {
      color: variable.$clr-text-primary;
      .root__hover {
        display: flex;
        align-items: center;
        gap: 7px;
        padding-block: 7px;
        border-radius: 5px;
        margin-bottom: 15px;
      }
    }

    &__hover:hover {
      background-color: variable.$clr-blue;
      color: variable.$clr-white;
    }
  }
}
