@use "../../../../styles/variables.scss" as variable;

.postare {
  background-color: variable.$clr-white;
  border-radius: variable.$radius;
  padding-block: variable.$padding-content-block;
  padding-inline: variable.$padding-content-inline;
  h1 {
    margin-bottom: 24px;
  }

  background-color: variable.$clr-white;
  border-radius: variable.$radius;
  padding-inline: variable.$padding-content-inline;
  padding-block: variable.$padding-content-block;

  > *div {
    display: flex;
    width: 100%;
    gap: 50px;
  }
}
