@use "../../../../styles/variables.scss" as variable;

@mixin font() {
  font-weight: variable.$fw-400;
  font-size: variable.$fs-12;
  color: variable.$clr-primary;
}

.details-blog {
  &__author {
    font-weight: bold;
    font-size: variable.$fs-12;
    color: variable.$clr-primary;
  }

  &__author--info {
    font-weight: variable.$fw-400;
    font-size: variable.$fs-12;
    color: variable.$clr-primary;
  }

  &__title-date {
    margin-block: 15px;
  }

  &__description {
    margin-bottom: 15px;
  }

  &__date-post {
    @include font();
  }

  &__image {
    width: 100%;
  }
}
