@use "../../../../styles/mixins" as mixin;
@use "../../../../styles/variables.scss" as variable;

.input-label-container {
  margin-bottom: 30px;
  position: relative;
  display: flex;
  flex-direction: column;

  &__label {
    font-weight: variable.$fw-600;
  }

  &__input {
    @include mixin.input();
  }
}
