@use "../../../../styles/mixin/input.mixin.scss" as mixin;
@use "../../../../styles/variables.scss" as variable;

.container_input {
  margin-bottom: 30px;
  position: relative;

  .label {
    font-weight: variable.$fw-600;
  }

  .input {
    @include mixin.input();
  }

  .error {
    position: absolute;
    top: 100%;
    font-size: 14px;
    color: red;
  }
}
