@use "../../../../styles/variables.scss" as variables;

table {
  width: 100%;

  thead {
    font-weight: bold;

    tr {
      width: 100%;
      border-bottom: 1px solid variables.$clr-underline;

      td {
        padding-block: 21px;
      }
    }
  }

  tbody {
    tr {
      td {
        padding-block: 21px;
      }
    }
  }
}
