@use "../../../../styles/variables.scss" as variables;

.card_row {
  display: flex;
  align-items: center;
  justify-content: space-between;

  .card_col {
    width: calc(90% / 6);
  }

  > *:not(:first-child) {
    color: variables.$clr-primary;
  }

  .card_edit_delete {
    display: flex;
  }
}
