@use "../../../../styles/variables.scss" as variables;

table {
  width: 100%;
  thead {
    tr {
      width: 100%;
      border-bottom: 1px solid variables.$clr-underline;

      td {
        padding-block: 21px;
      }
    }
  }

  tbody {
    tr {
      td {
        padding-block: 21px;
      }
      .card_edit_delete {
        display: flex;
        align-items: center;
      }
    }
  }
}

// .card_row {
//   display: flex;
//   align-items: center;
//   justify-content: space-between;
//   padding-block: 21px;
//   border-bottom: 1px solid variables.$clr-underline;

//   .card_col {
//     width: calc(90% / 6);
//   }

//   > *:first-child {
//     h1 {
//       font-size: variables.$fs-15;
//       font-weight: variables.$fw-600;
//       color: variables.$clr-black;
//     }
//   }
//   > *:not(:first-child) {
//     p {
//       font-size: variables.$fs-13;
//       font-weight: variables.$fw-400;
//       color: variables.$clr-primary;
//     }
//   }

//   .card_edit_delete {
//     display: flex;
//   }
// }
